# Virtual Environment
venv/

# Reference materials
references/
datasets/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# C++ Build outputs
build/
bin/
*.o
*.a
*.so
*.out

# Large Model Weights (PyTorch)
weights/*.pt

# Output detection images
simulation/runs/detections/

# Development Notes
notes/
